@{
    ViewData["Title"] = "Webshop";
}

<div class="container mt-4">
    <h1>Webshop</h1>
    <p>Az MVC frontend működik.</p>

    <a class="btn btn-primary" href="/Shop">Termékek megtekintése</a>
</div>